body{
    margin:0;
    font-family:Arial;
    background:#111;
    color:white;
    text-align:center;
}

.background{
    position:fixed;
    inset:0;
    background:
        radial-gradient(circle at top left,#ff6a00,#ee0979 40%,transparent),
        radial-gradient(circle at bottom right,#4facfe,#00f2fe);

    filter:blur(100px);
    z-index:-1;

    animation:bgMove 8s infinite alternate;
}


@keyframes bgMove{

    from{
        transform:scale(1);
    }

    to{
        transform:scale(1.2);
    }

}


.navbar{
    display:flex;
    justify-content:space-between;
    padding:15px 30px;
    background:rgba(255,255,255,0.1);
    backdrop-filter:blur(10px);
    border-bottom:1px solid rgba(255,255,255,.15);

    box-shadow:
    0 10px 30px rgba(0,0,0,.2);
}

.container{

    margin-top:30px;

    padding:20px;

}


.grid{
    display:grid;
    grid-template-columns:repeat(4,90px);
    gap:10px;
    justify-content:center;
    margin-top:20px;
}

.card{

    width:90px;
    height:90px;

    background:
    linear-gradient(135deg,#667eea,#764ba2);

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:32px;

    border-radius:15px;

    cursor:pointer;

    user-select:none;

    transition:.4s;

    box-shadow:
    0 8px 20px rgba(0,0,0,.3);

}
.card:hover{

    transform:translateY(-5px) scale(1.05);

}


.flipped{

    background:white;

    color:black;

    transform:
    rotateY(180deg);

}


.matched{

    background:
    linear-gradient(135deg,#00ff88,#00c853);

    color:black;

    animation:
    matchPop .4s ease;

}


@keyframes matchPop{

    50%{
        transform:scale(1.15);
    }

    100%{
        transform:scale(1);
    }

}


.game-info{

    display:flex;
    justify-content:center;

    gap:15px;

    margin-top:20px;

}
.game-info span{

    background:
    rgba(255,255,255,.12);

    padding:10px 18px;

    border-radius:20px;

    backdrop-filter:blur(10px);

    box-shadow:
    0 5px 15px rgba(0,0,0,.2);

}
button{

    margin-top:25px;

    padding:12px 30px;

    border:none;

    border-radius:25px;

    background:
    linear-gradient(135deg,#667eea,#764ba2);

    color:white;

    font-size:16px;

    cursor:pointer;

    transition:.3s;

}


button:hover{

    transform:scale(1.08);

}
.win-box{

    position:fixed;

    top:50%;
    left:50%;

    transform:translate(-50%,-50%);

    background:
    rgba(255,255,255,.15);

    backdrop-filter:blur(20px);

    padding:30px;

    border-radius:20px;

    box-shadow:
    0 20px 50px rgba(0,0,0,.4);

}


#timer{
    color:#ffd54f;
}

#moves{
    color:#7CFC00;
}
